* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

.clock {
    color: aqua;
    padding: 50px;
    letter-spacing: 2px;
    font-size: 50px;
    font-family: 'digital-7', sans-serif;
}

.input-field {
    margin-left: 20px;
    font-size: 25px;
    font-family: 'digital-7', sans-serif;
    color: antiquewhite;
}

@font-face{
    font-family:'digital-7';
    src: url('/JS 101 EX4/digital-7.ttf');
}
